In [6]:
import pymysql
import pandas as pd
import numpy as np

# Connect to the MySQL database
conn = pymysql.connect(host='localhost',
                        user='root',
                        password='1234',
                        database='eventmate')

In [7]:
ratings = pd.read_sql('SELECT * FROM studentrating', conn)   

ratings

C:\Users\Lenevo\AppData\Local\Temp\ipykernel_3924\107162371.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ratings = pd.read_sql('SELECT * FROM studentrating', conn)

     StudentID       EventID  Rating Feedback
0   19OPQR0123      24ABCXYZ       9     None
1   19OPQR0123      24DEFUVW       6     None
2   19OPQR0123      25GHIJKL      10     None
3   19OPQR0123      32VWXYZA       5     None
4   19OPQR0123     35QRSTUVW       9     None
5   19VWXY5678  42CDEFGHIJKL       1     None
6   19VWXY5678  47HIJKLMNOPQ      10     None
7   19VWXY5678  49JKLMNOPQRS       5     None
8   20EFGH0123      24ABCXYZ      10     None
9   20EFGH0123      24DEFUVW       7     None
10  20EFGH0123      25GHIJKL       9     None
11  20EFGH0123      32VWXYZA       2     None
12  20EFGH0123  42CDEFGHIJKL       1     None
13  20EFGH0123  47HIJKLMNOPQ       9     None
14  20EFGH0123  49JKLMNOPQRS       7     None
15  20RSTU4567     37YZABCDE       5     None
16  20RSTU4567  40ABCDEFGHIJ       6     None
17  20RSTU4567  41BCDEFGHIJK       9     None
18  20YZAB5678      24DEFUVW       5     None
19  20YZAB5678      32VWXYZA       5     None
20  20YZAB5678     35QRSTUVW      10     None
21  21GHIJ8901      24DEFUVW       3     None
22  21GHIJ8901      25GHIJKL      10     None
23  21GHIJ8901      32VWXYZA       6     None
24  21GHIJ8901     35QRSTUVW      10     None
25  21WXYZ4567      24DEFUVW       5     None
26  21WXYZ4567      25GHIJKL       9     None
27  21WXYZ4567      32VWXYZA       4     None
28  22ABCD0129  42CDEFGHIJKL       1     None
29  22ABCD0129  47HIJKLMNOPQ      10     None
30  22ABCD0129  49JKLMNOPQRS       3     None
31   22BBS0129      24DEFUVW       1     None
32   22BBS0129      32VWXYZA       6     None
33   22BBS0129     35QRSTUVW      10     None
34  22FGHI0123     37YZABCDE       3     None
35  22FGHI0123  40ABCDEFGHIJ       5     None
36  22FGHI0123  41BCDEFGHIJK       9     None
37  23JKLM2345      24ABCXYZ      10     None
38  23JKLM2345      25GHIJKL      10     None
39  23JKLM2345     35QRSTUVW      10     None
40  23UVWX3456      24DEFUVW       2     None
41  23UVWX3456      25GHIJKL       9     None
42  23WXYZ1298     37YZABCDE       6     None
43  23WXYZ1298  40ABCDEFGHIJ       2     None
44  23WXYZ1298  41BCDEFGHIJK      10     None

In [8]:
ratings.groupby("StudentID").count()

            EventID  Rating  Feedback
StudentID
19OPQR0123        5       5         0
19VWXY5678        3       3         0
20EFGH0123        7       7         0
20RSTU4567        3       3         0
20YZAB5678        3       3         0
21GHIJ8901        4       4         0
21WXYZ4567        3       3         0
22ABCD0129        3       3         0
22BBS0129         3       3         0
22FGHI0123        3       3         0
23JKLM2345        3       3         0
23UVWX3456        2       2         0
23WXYZ1298        3       3         0

In [9]:
minimum_rating = 3

x = ratings.groupby("StudentID").count()["Rating"] >= minimum_rating
frequent_users = x[x].index
frequent_users

Index(['19OPQR0123', '19VWXY5678', '20EFGH0123', '20RSTU4567', '20YZAB5678',
       '21GHIJ8901', '21WXYZ4567', '22ABCD0129', '22BBS0129', '22FGHI0123',
       '23JKLM2345', '23WXYZ1298'],
      dtype='object', name='StudentID')

In [10]:
filtered_ratings = ratings[ratings['StudentID'].isin(frequent_users)]
filtered_ratings

     StudentID       EventID  Rating Feedback
0   19OPQR0123      24ABCXYZ       9     None
1   19OPQR0123      24DEFUVW       6     None
2   19OPQR0123      25GHIJKL      10     None
3   19OPQR0123      32VWXYZA       5     None
4   19OPQR0123     35QRSTUVW       9     None
5   19VWXY5678  42CDEFGHIJKL       1     None
6   19VWXY5678  47HIJKLMNOPQ      10     None
7   19VWXY5678  49JKLMNOPQRS       5     None
8   20EFGH0123      24ABCXYZ      10     None
9   20EFGH0123      24DEFUVW       7     None
10  20EFGH0123      25GHIJKL       9     None
11  20EFGH0123      32VWXYZA       2     None
12  20EFGH0123  42CDEFGHIJKL       1     None
13  20EFGH0123  47HIJKLMNOPQ       9     None
14  20EFGH0123  49JKLMNOPQRS       7     None
15  20RSTU4567     37YZABCDE       5     None
16  20RSTU4567  40ABCDEFGHIJ       6     None
17  20RSTU4567  41BCDEFGHIJK       9     None
18  20YZAB5678      24DEFUVW       5     None
19  20YZAB5678      32VWXYZA       5     None
20  20YZAB5678     35QRSTUVW      10     None
21  21GHIJ8901      24DEFUVW       3     None
22  21GHIJ8901      25GHIJKL      10     None
23  21GHIJ8901      32VWXYZA       6     None
24  21GHIJ8901     35QRSTUVW      10     None
25  21WXYZ4567      24DEFUVW       5     None
26  21WXYZ4567      25GHIJKL       9     None
27  21WXYZ4567      32VWXYZA       4     None
28  22ABCD0129  42CDEFGHIJKL       1     None
29  22ABCD0129  47HIJKLMNOPQ      10     None
30  22ABCD0129  49JKLMNOPQRS       3     None
31   22BBS0129      24DEFUVW       1     None
32   22BBS0129      32VWXYZA       6     None
33   22BBS0129     35QRSTUVW      10     None
34  22FGHI0123     37YZABCDE       3     None
35  22FGHI0123  40ABCDEFGHIJ       5     None
36  22FGHI0123  41BCDEFGHIJK       9     None
37  23JKLM2345      24ABCXYZ      10     None
38  23JKLM2345      25GHIJKL      10     None
39  23JKLM2345     35QRSTUVW      10     None
42  23WXYZ1298     37YZABCDE       6     None
43  23WXYZ1298  40ABCDEFGHIJ       2     None
44  23WXYZ1298  41BCDEFGHIJK      10     None

In [11]:
filtered_ratings

     StudentID       EventID  Rating Feedback
0   19OPQR0123      24ABCXYZ       9     None
1   19OPQR0123      24DEFUVW       6     None
2   19OPQR0123      25GHIJKL      10     None
3   19OPQR0123      32VWXYZA       5     None
4   19OPQR0123     35QRSTUVW       9     None
5   19VWXY5678  42CDEFGHIJKL       1     None
6   19VWXY5678  47HIJKLMNOPQ      10     None
7   19VWXY5678  49JKLMNOPQRS       5     None
8   20EFGH0123      24ABCXYZ      10     None
9   20EFGH0123      24DEFUVW       7     None
10  20EFGH0123      25GHIJKL       9     None
11  20EFGH0123      32VWXYZA       2     None
12  20EFGH0123  42CDEFGHIJKL       1     None
13  20EFGH0123  47HIJKLMNOPQ       9     None
14  20EFGH0123  49JKLMNOPQRS       7     None
15  20RSTU4567     37YZABCDE       5     None
16  20RSTU4567  40ABCDEFGHIJ       6     None
17  20RSTU4567  41BCDEFGHIJK       9     None
18  20YZAB5678      24DEFUVW       5     None
19  20YZAB5678      32VWXYZA       5     None
20  20YZAB5678     35QRSTUVW      10     None
21  21GHIJ8901      24DEFUVW       3     None
22  21GHIJ8901      25GHIJKL      10     None
23  21GHIJ8901      32VWXYZA       6     None
24  21GHIJ8901     35QRSTUVW      10     None
25  21WXYZ4567      24DEFUVW       5     None
26  21WXYZ4567      25GHIJKL       9     None
27  21WXYZ4567      32VWXYZA       4     None
28  22ABCD0129  42CDEFGHIJKL       1     None
29  22ABCD0129  47HIJKLMNOPQ      10     None
30  22ABCD0129  49JKLMNOPQRS       3     None
31   22BBS0129      24DEFUVW       1     None
32   22BBS0129      32VWXYZA       6     None
33   22BBS0129     35QRSTUVW      10     None
34  22FGHI0123     37YZABCDE       3     None
35  22FGHI0123  40ABCDEFGHIJ       5     None
36  22FGHI0123  41BCDEFGHIJK       9     None
37  23JKLM2345      24ABCXYZ      10     None
38  23JKLM2345      25GHIJKL      10     None
39  23JKLM2345     35QRSTUVW      10     None
42  23WXYZ1298     37YZABCDE       6     None
43  23WXYZ1298  40ABCDEFGHIJ       2     None
44  23WXYZ1298  41BCDEFGHIJK      10     None

In [12]:
minimum_event_appearance = 3

y = filtered_ratings.groupby("EventID").count()["Rating"] >= minimum_event_appearance
famous_events = y[y].index
famous_events

Index(['24ABCXYZ', '24DEFUVW', '25GHIJKL', '32VWXYZA', '35QRSTUVW',
       '37YZABCDE', '40ABCDEFGHIJ', '41BCDEFGHIJK', '42CDEFGHIJKL',
       '47HIJKLMNOPQ', '49JKLMNOPQRS'],
      dtype='object', name='EventID')

In [13]:
filtered_ratings["EventID"].isin(famous_events)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
42    True
43    True
44    True
Name: EventID, dtype: bool

In [14]:
final_ratings = filtered_ratings[filtered_ratings["EventID"].isin(famous_events)]
final_ratings

     StudentID       EventID  Rating Feedback
0   19OPQR0123      24ABCXYZ       9     None
1   19OPQR0123      24DEFUVW       6     None
2   19OPQR0123      25GHIJKL      10     None
3   19OPQR0123      32VWXYZA       5     None
4   19OPQR0123     35QRSTUVW       9     None
5   19VWXY5678  42CDEFGHIJKL       1     None
6   19VWXY5678  47HIJKLMNOPQ      10     None
7   19VWXY5678  49JKLMNOPQRS       5     None
8   20EFGH0123      24ABCXYZ      10     None
9   20EFGH0123      24DEFUVW       7     None
10  20EFGH0123      25GHIJKL       9     None
11  20EFGH0123      32VWXYZA       2     None
12  20EFGH0123  42CDEFGHIJKL       1     None
13  20EFGH0123  47HIJKLMNOPQ       9     None
14  20EFGH0123  49JKLMNOPQRS       7     None
15  20RSTU4567     37YZABCDE       5     None
16  20RSTU4567  40ABCDEFGHIJ       6     None
17  20RSTU4567  41BCDEFGHIJK       9     None
18  20YZAB5678      24DEFUVW       5     None
19  20YZAB5678      32VWXYZA       5     None
20  20YZAB5678     35QRSTUVW      10     None
21  21GHIJ8901      24DEFUVW       3     None
22  21GHIJ8901      25GHIJKL      10     None
23  21GHIJ8901      32VWXYZA       6     None
24  21GHIJ8901     35QRSTUVW      10     None
25  21WXYZ4567      24DEFUVW       5     None
26  21WXYZ4567      25GHIJKL       9     None
27  21WXYZ4567      32VWXYZA       4     None
28  22ABCD0129  42CDEFGHIJKL       1     None
29  22ABCD0129  47HIJKLMNOPQ      10     None
30  22ABCD0129  49JKLMNOPQRS       3     None
31   22BBS0129      24DEFUVW       1     None
32   22BBS0129      32VWXYZA       6     None
33   22BBS0129     35QRSTUVW      10     None
34  22FGHI0123     37YZABCDE       3     None
35  22FGHI0123  40ABCDEFGHIJ       5     None
36  22FGHI0123  41BCDEFGHIJK       9     None
37  23JKLM2345      24ABCXYZ      10     None
38  23JKLM2345      25GHIJKL      10     None
39  23JKLM2345     35QRSTUVW      10     None
42  23WXYZ1298     37YZABCDE       6     None
43  23WXYZ1298  40ABCDEFGHIJ       2     None
44  23WXYZ1298  41BCDEFGHIJK      10     None

In [15]:
rating_matrix = final_ratings.pivot_table(index='EventID', columns="StudentID", values="Rating")
rating_matrix = rating_matrix.fillna(0)

In [16]:

from sklearn.metrics.pairwise import cosine_similarity

similarity_scores = cosine_similarity(rating_matrix)
similarity_scores

array([[1.        , 0.61430567, 0.77711248, 0.32539886, 0.49232612,
        0.        , 0.        , 0.        , 0.3444183 , 0.3202847 ,
        0.45835907],
       [0.61430567, 1.        , 0.76499783, 0.78749947, 0.5452629 ,
        0.        , 0.        , 0.        , 0.33562431, 0.31210691,
        0.44665586],
       [0.77711248, 0.76499783, 1.        , 0.6402929 , 0.61518321,
        0.        , 0.        , 0.        , 0.24174689, 0.22480754,
        0.32172182],
       [0.32539886, 0.78749947, 0.6402929 , 1.        , 0.82266259,
        0.        , 0.        , 0.        , 0.09690032, 0.09011045,
        0.12895697],
       [0.49232612, 0.5452629 , 0.61518321, 0.82266259, 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.84502422, 0.97470741, 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.84502422, 1.        , 0.91188409, 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.97470741, 0.91188409, 1.        , 0.        , 0.        ,
        0.        ],
       [0.3444183 , 0.33562431, 0.24174689, 0.09690032, 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.99881306,
        0.95058638],
       [0.3202847 , 0.31210691, 0.22480754, 0.09011045, 0.        ,
        0.        , 0.        , 0.        , 0.99881306, 1.        ,
        0.93636211],
       [0.45835907, 0.44665586, 0.32172182, 0.12895697, 0.        ,
        0.        , 0.        , 0.        , 0.95058638, 0.93636211,
        1.        ]])

In [17]:
index =

SyntaxError: invalid syntax (2344124853.py, line 1)

r

Finding smilar users

In [18]:
regno = "22BBS0129"

students = pd.read_sql(f'SELECT StudentID as ID, tags, Branch, Year, Program FROM student', conn) 
students

C:\Users\Lenevo\AppData\Local\Temp\ipykernel_3924\3403498224.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  students = pd.read_sql(f'SELECT StudentID as ID, tags, Branch, Year, Program FROM student', conn)

,ID,tags,Branch,Year,Program
0,19EFGH4567,"food, taste, traveling, cuisine, machines, bui...",Computer Science,2,B.Tech
1,19FGHI1234,"coding, technology, reading, travel, sports, m...",Computer Science,3,B.Tech
2,19OPQR0123,"web development, design, blogging, entrepreneu...",Information Technology,3,B.Tech
3,19VWXY5678,"coding, technology, robotics, music, movies, c...",Mechanical Engineering,3,B.Tech
4,19ZABC6789,"programming, artificial intelligence, machine ...",Mechanical Engineering,2,B.Tech
5,20EFGH0123,"information security, cybersecurity, networkin...",Electrical Engineering,1,B.Tech
6,20KLMN9012,"drama, sports, music, dance, reading, writing,...",Electrical Engineering,2,B.Tech
7,20LMNO3456,"cricket, tennis, swimming, poetry, film-making...",Civil Engineering,4,B.Tech
8,20RSTU4567,"drama, sports, music, dance, reading, writing,...",Computer Science,1,B.Tech
9,20YZAB5678,"coding, technology, robotics, music, dance, sp...",Computer Science,3,B.Tech
10,21DEFG9012,"coding, technology, programming, music, dance,...",Computer Science,4,B.Tech
11,21GHIJ8901,"coding, technology, robotics, music, dance, sp...",Computer Science,1,B.Tech
12,21NOPQ3456,"seminars, workshops, leadership, community ser...",Information Technology,2,B.Tech
13,21PQRS2345,"drama, sports, music, dance, reading, writing,...",Mechanical Engineering,1,B.Tech
14,21WXYZ4567,"robotics, drones, 3D printing, puzzles, writin...",Electrical Engineering,2,B.Tech
15,22ABCD0129,"coding, technology, programming, music, dance,...",Computer Science,2,B.Tech
16,22BBS0129,"Hackathon, Coding, Technology, Innovation, Com...",BBS,2,B.Tech
17,22BCDE7890,"coding, technology, programming, music, dance,...",Civil Engineering,3,B.Tech
18,22FGHI0123,"coding, technology, robotics, music, movies, c...",Electrical Engineering,3,B.Tech
19,22STUV2345,"information security, networking, blogging, en...",Mechanical Engineering,4,B.Tech
20,22YZAB6789,"coding, technology, programming, music, dance,...",Civil Engineering,2,B.Tech
21,23CDEF7890,"robotics, programming, artificial intelligence...",Electronics and Communication,4,B.Tech
22,23CDEF8901,"robotics, programming, artificial intelligence...",Electronics and Communication,1,B.Tech
23,23JKLM2345,"coding, technology, programming, music, dance,...",Computer Science,4,B.Tech
24,23UVWX3456,"drama, sports, music, dance, reading, writing,...",Computer Science,1,B.Tech
25,23WXYZ1298,"coding, technology, robotics, music, movies, c...",Electronics and Communication,3,B.Tech

In [19]:

def stem(text):
    from nltk.stem.porter import PorterStemmer
    ps = PorterStemmer()   

    y = []
    
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [20]:
from rake_nltk import Rake
from sklearn.feature_extraction.text import CountVectorizer


students['tags'] = students['tags'].apply(stem)

cv = CountVectorizer(max_features=50, stop_words="english") 

vectors = cv.fit_transform(students['tags']).toarray()
vectors

distance_matrix = cosine_similarity(vectors)

branch_score = 0.3
year_score = 0.1
program_score = 0.1

for i in  range(len(distance_matrix)):
    for j in range(i+1):

        if (students.iloc[i]["Branch"] == students.iloc[j]["Branch"]):
            distance_matrix[i][j] += branch_score
            distance_matrix[j][i] = distance_matrix[i][j]
        
        if (students.iloc[i]["Program"] == students.iloc[j]["Program"]):
            distance_matrix[i][j] += program_score
            distance_matrix[j][i] = distance_matrix[i][j]

        if (students.iloc[i]["Year"] == students.iloc[j]["Year"]):
            distance_matrix[i][j] += year_score
            distance_matrix[j][i] = distance_matrix[i][j]

similar_students = sorted(list(enumerate(distance_matrix[np.where(students == "22BBS0129")[0][0]])), reverse=True, key=lambda x:x[1])[1:11]

top_similar_students = []

for i in similar_students:
    top_similar_students.append(students.iloc[i[0]]["ID"])

In [21]:
top_similar_students

['22ABCD0129',
 '22YZAB6789',
 '19FGHI1234',
 '19VWXY5678',
 '20YZAB5678',
 '21DEFG9012',
 '21GHIJ8901',
 '22BCDE7890',
 '22FGHI0123',
 '23JKLM2345']

In [22]:
curr = conn.cursor()
curr.execute(f'Select tags from student where StudentID = "21DEFG9012"')
curr.fetchall()

(('coding, technology, programming, music, dance, sports, reading, travel, photography, art',),)

In [23]:
ratings = pd.read_sql('SELECT * FROM studentrating', conn)   

ratings = ratings[ratings["StudentID"].isin(top_similar_students)].reset_index()
ratings

C:\Users\Lenevo\AppData\Local\Temp\ipykernel_3924\2936167751.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ratings = pd.read_sql('SELECT * FROM studentrating', conn)

    index   StudentID       EventID  Rating Feedback
0       5  19VWXY5678  42CDEFGHIJKL       1     None
1       6  19VWXY5678  47HIJKLMNOPQ      10     None
2       7  19VWXY5678  49JKLMNOPQRS       5     None
3      18  20YZAB5678      24DEFUVW       5     None
4      19  20YZAB5678      32VWXYZA       5     None
5      20  20YZAB5678     35QRSTUVW      10     None
6      21  21GHIJ8901      24DEFUVW       3     None
7      22  21GHIJ8901      25GHIJKL      10     None
8      23  21GHIJ8901      32VWXYZA       6     None
9      24  21GHIJ8901     35QRSTUVW      10     None
10     28  22ABCD0129  42CDEFGHIJKL       1     None
11     29  22ABCD0129  47HIJKLMNOPQ      10     None
12     30  22ABCD0129  49JKLMNOPQRS       3     None
13     34  22FGHI0123     37YZABCDE       3     None
14     35  22FGHI0123  40ABCDEFGHIJ       5     None
15     36  22FGHI0123  41BCDEFGHIJK       9     None
16     37  23JKLM2345      24ABCXYZ      10     None
17     38  23JKLM2345      25GHIJKL      10     None
18     39  23JKLM2345     35QRSTUVW      10     None

In [43]:
rating_sum = ratings.groupby("EventID").sum("Rating")["Rating"]
rating_count = (ratings.groupby("EventID").count()["Rating"])

avg_rating = pd.concat([rating_sum,  rating_count], axis=1)

avg_rating["Average"] = avg_rating.iloc[:, :1] / avg_rating.iloc[:, 1:2]
avg_rating = avg_rating.sort_values(by="Average", ascending=False).reset_index()
avg_rating = avg_rating.iloc[:20, :]
avg_rating = avg_rating[avg_rating["Average"] > 5]
avg_rating

        EventID  Rating  Rating  Average
0      24ABCXYZ      10       1     10.0
1      25GHIJKL      20       2     10.0
2     35QRSTUVW      30       3     10.0
3  47HIJKLMNOPQ      20       2     10.0
4  41BCDEFGHIJK       9       1      9.0
5      32VWXYZA      11       2      5.5

In [ ]:
recommded_events = list(avg_rating.iloc[:6, 0:1]["EventID"])
recommded_events

In [ ]:
events = pd.read_sql('SELECT EventID, Name FROM event', conn)   
events[events["EventID"].isin(recommded_events)]

In [ ]:
distance_matrix[0]

In [ ]:
distance_matrix[0]